.contenedor{
    margin: auto;
    text-align: center;
background-image: linear-gradient(to top, #d2e0d6 0%,#ebf1f0 100% );

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
