:hover{
   --color:black ;
   --fondo:
  
  }

.contendorlink{
    background-color: chartreuse;
    padding: 15px;
    display: flex;
flex-direction: row;
    justify-content: space-evenly;
    
}

.link1{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: aliceblue;
    padding: 10px 25px;
    font: bold 120% monospace;
    text-transform: uppercase;  
    border-radius:5%;
}

.link1:hover{
    color: rgb(77, 124, 30);;
   
}